* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, pink, skyblue);
}

.color {
  position: fixed;
  margin-bottom: 40vh;
  width: 100vw;
  height: 200px;
}

h1 {
  text-align: center;
}

#find {
  width: 100px;
  padding: 7px;

  background-color: aqua;
  border-radius: 10px;
}

#toggle {
  width: 100px;
  padding: 7px;

  background-color: aqua;
  border-radius: 10px;
}

